body {
	background-color: #443322;

	background: #7f572d; /* Old browsers */
	background: -moz-linear-gradient(top, #7f572d 0%, #6c4a26 37%, #52381c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f572d), color-stop(37%,#6c4a26), color-stop(100%,#52381c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7f572d 0%,#6c4a26 37%,#52381c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7f572d 0%,#6c4a26 37%,#52381c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7f572d 0%,#6c4a26 37%,#52381c 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7f572d 0%,#6c4a26 37%,#52381c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f572d', endColorstr='#52381c',GradientType=0 ); /* IE6-9 */

}

#main {
	text-align: center;
}

#cv{
	background-color: #111111;
}

.info {
	color:#fff;
	font-size:10px;
	font-family:Comic Sans MS;
	
}

.info a {
	color:#fff;
}

