body {
	background-color: #443322;
}

#main {
	text-align: center;
}

#cv{
	background-color: #111111;
}

.info {
	color:#fff;
	font-size:10px;
	font-family:Comic Sans MS;
	
}

.info a {
	color:#fff;
}
.googlead {
    margin: 20px;
    text-align: center;
}


